nav{
    position:fixed;
    z-index: 1!important;
}

#body,
#search_bar {
    background-color: #181818;
}

#search{
    justify-content: center;
}

.input-group{
    width: 50% !important;;
}

.sorting_menu{
    margin-top: 5px;
}

li{
    list-style: none;
}


::placeholder {
    color: grey !important;
    opacity: 1;
    /* Firefox */
}

#basic-addon2,.theme {
    background-color: #2d2d2d !important;
    color: white !important;
}

.navbar-brand span:first-child {
    color: red;
    margin-right: 4px;
}

#navbarSupportedContent {
    justify-content: space-around
}

#search {
    width: 80%;
}

#search_list{
    z-index: -1!important;
}

input,
input:focus {
    box-shadow: none !important;
}

.upload {
    background-color: #4CA3FC !important;
    color: white !important;
}

.btn-check+.btn {
    background-color: transparent !important;
    border: none;
    border-radius: 15px;
    color: white;
}

.btn-check+.btn:hover {
    color: white;
}

.btn-check:checked+.btn {
    background-color: white !important;
    color: #586069 !important;
}

.radios {
    display: flex;
    justify-content: space-around;
}

.fa-sort{
    margin-right:10px;
}

#search_list{
    display: block!important;
    margin-left:90px;
    display: flex;
    justify-content: flex-start; 
    width:90%;
}

#search_list_mobile{
    display: none!important;
    margin-bottom:20px;
}

@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/

    #navbarSupportedContent{
        margin-top:15px;
    }
    
    #search,#upload{
        width:100%;
        margin-bottom:20px; 
    }
    
    #upload button,.input-group
    {
        width:100%!important;
    }

    #search_list{
        display: none!important;
    }

    #search_list_mobile{
        display: block!important;
    }
}


